@import '../../../styles/settings.scss';

.root {
  background-color: $top-bar-bg;
  border-radius: 25px;
}

.board {
  padding: 40px 0 40px 0;

  .border {
    border: 1px solid black;
  }
}

.title {
  font-family: $title-font;
  font-size: 30px;
  color: $title-color;
}
