@import '../../../styles/settings.scss';

.root {
  margin-top: 40px;
}

.container {
  background-color: $top-bar-bg;
  border-radius: 25px;
  padding: 20px 1.5rem 40px 1.5rem;
  .title {
    font-family: $title-font;
    font-size: 50px;
    color: $title-color
  }
  .description {
    padding: 20px 100px 20px 100px;
    text-align: center;
  }
}

.new {
  padding: 10px 0 10px 0;
}
 .btn {
   color: $title-color;
   font-weight: bold;
   padding: 5px;
   border: 2px solid $title-color;
   transition: $transition-background;
   &:hover {
     transition: $transition-background;
     text-decoration: none;
     box-shadow: $shadow 1px 3px 4px;
     color: $title-color;
   }
 }
